#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#question {
  width: 30vw;
  border: none;
  background: transparent;
  color: gainsboro;
  outline: none;
  resize: none;
}

#askAIButtonText {
  padding: 5px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}